boilerplate/index.html
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	
	<meta charset="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no"> <!-- stops apple adding anchor tags to phone numbers -->
	
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="" />
	<link rel="author" href="humans.txt" />

	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	
	<link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<script src="assets/js/libs/modernizr-2.0.6.min.js"></script>

</head>
<body>

<!-- start container -->
<div id="container">
	
	<!-- start header -->
    <header class="clearfix">

		<h1 class="logo"><a href="/">Site Title</a></h1>

		<nav id="access">

			<ul id="menu-main-nav" class="menu">

				<li class="current-menu-item "><a href="/">Home</a></li>
				<li class=""><a href="/">Secondary</a>

					<ul class="sub-menu">
						<li class=""><a href="/">Child</a></li>
						<li class=""><a href="/">Child</a></li>
					</ul>

				</li>

			</ul>
					
		</nav>
		
	</header>
    <!-- end header -->
	
	<!-- start main -->
    <div id="main" role="main">
		
		<section class="page-content">

			<div class="title">

				<h2><a href="">Page Title</a></h2>

			</div>
			
			<!-- Page Content -->
			
		</section>
		
		<section id="sidebar">
			
			<!-- Page Sidebar -->
			
		</section>
		
	</div>
    <!-- end main -->
    
	<!-- start footer-->
    <footer>

		<p class="copy">
			Copyright &copy;
		</p>

	</footer>
    <!-- End footer-->
	
</div>
<!-- end container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="assets/js/libs/selectivizr-min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/script.js"></script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>

index.html.slim
doctype html

/![if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/![if IE 7] <html class="no-js ie7 oldie" lang="en">
/![if IE 8] <html class="no-js ie8 oldie" lang="en">
/! [if gt IE 8]><!
html.no-js lang="en"
  /! <![endif]

  head
    meta charset=""
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    title Page Title

    meta content="" name="description"
    meta content="" name="author"

    meta content="width=(device-width,)initial-scale=1.0" name="viewport"
    /! stops apple adding anchor tags to phone numbers
    meta content="telephone=no" name="format-detection"

    link href="http://gmpg.org/xfn/11" rel="profile"
    link href="" rel="pingback"
    link href="humans.txt" rel="author"

    link href="/favicon.ico" rel="shortcut icon"
    link href="/apple-touch-icon.png" rel="apple-touch-icon"

    link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css"

    script src="assets/js/libs/modernizr-2.0.6.min.js"

  body
    /! start container
    #container
      /! start header
      header.clearfix
        h1.logo
          a href="/" Site Title
        nav#access
          ul#menu-main-nav.menu
            li.current-menu-item
              a href="/" Home
            li
              a href="/" Secondary
              ul.sub-menu
                li
                  a href="/" Child
                li
                  a href="/" Child
      /! end header

      /! start main
      #main role="main"
        section.page-content
          .title
            h2
              a href="" Page Title
          /! Page Content
        section#sidebar
          /! Page Sidebar
      /! end main

      /! start footer
      footer
        p.copy
          | Copyright &copy;
      /! End footer

    /! end container

    script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    script src="assets/js/libs/selectivizr-min.js"
    script src="assets/js/plugins.js"
    script src="assets/js/script.js"

    /![if lt IE 7 ]
      | <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      | <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
